.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.el-header, .el-footer {
    /*background-color: #B3C0D1;*/
    background-color: rgba(179 ,192 ,209, 0.2);
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    /*background-color: #545c64;*/
    background-color: rgba(84, 92, 100, 0.5);
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    /*background-color: #E9EEF3;*/
    rgb(233 238 243 / 0.2);
    color: #333;
    text-align: center;
    line-height: 160px;
}

body > .el-container {
    height: 100%;
}

.main-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    line-height: normal;
}

.main-header__brand {
    font-size: 22px;
}

.main-header__title {
    margin-left: 8px;
}

.main-container {
    line-height: normal;
}

/*-----*/
.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.main-footer__copyright {
    margin-right: 8px;
}