html {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
    background: url("https://imgchr.com/content/images/system/home_cover_1601010270144_8921bc.jpg") no-repeat;
    background-size: cover;
}